<br>
<br>
<center>
	<%= image_tag "logo.png" %>
</center>
<br>
<%= form_tag(:controller => 'main', :action => 'attempt_login') do %>
<center>
		<legend>Войти:</legend>

		<div>
			Логин:
			<%= text_field_tag :login, params[:login] %>
		</div>
		
		<br>
		
		<div>
			Пароль:
			<%= password_field_tag :hash_pass, params[:hash_pass] %>
		</div>
		
		<br>	
		
		<div>
			<%= submit_tag "Вход"%>
		</div>
		
<% end %>