<br>
<br>
<center>
	<%= image_tag "logo.png" %>
</center>
<br>
<%= form_tag do %>
<center>
	<fieldset>
		<legend>Войти:</legend>

		<div>
			<%= label_tag :name, 'Логин:   ' %>
			<%= text_field_tag :name, params[:name] %>
		</div>
		
		<br>
		
		<div>
			<%= label_tag :password, 'Пароль:' %>
			<%= password_field_tag :password, params[:password] %>
		</div>
		
		<br>	
		
		<!-- <div>
			<%= submit_tag %>
		</div> -->
		<%= link_to("Login",{:controller => 'admin', :action => 'index'}, :class => 'btn btn-success') %><br/>
	</fieldset>
<% end %>