<br>
<br>
<center>
	<%= image_tag "logo.png" %>
</center>
<br>
<%= form_tag(:controller => 'main', :action => 'attempt_login') do %>
<center>
		<legend>Войти:</legend>
<table>
    <tr>
			<td class="span1"><h4>Логин:</h4></td>
			<td><%= text_field_tag :login, params[:login]%></td>
		</tr>
		<tr>
			<td><h4>Пароль:</h4></td>
			<td><%= password_field_tag :hash_pass, params[:hash_pass] %></td>
		</tr>
</table>
		<br>	
		
		<div>
			<%= submit_tag "Вход"%>
		</div>
		
<% end %>