<br/>
<br/>

<center><h3>Менеджеры системы</h3><br/>
	<div class="container">
		<div class="row">
				<div class="pull-left">
					<%= link_to("Создать менеджера",{:controller => 'manager', :action => 'new' }, :class => 'btn  btn-small btn-success offset1') %>
				</div>
		</div>
		<br>
		<div class="row">
			<center>
			<table class="table table-bordered table-condensed table-stripped span10 offset1">
				<th><center>N%</center></th>
				<th><center>ФИО</center></th>
				<th><center>Должность</center></th>
				<th><center>Телефон</center></th>
				<th><center>Email</center></th>
				<th><center>Логин</center></th>
				<th><center>Создан</center></th>
				<th></th>

				<% @manager.each do |man| %>	
					<tr>
						<td><center><%= man.id %></center></td>
						<td><center><%= man.pib %></center></td>
						<td><center><%= man.postion %></center></td>
						<td><center><%= man.phone %></center></td>
						<td><center><%= man.email %></center></td>
						<td><center><%= man.main.login %></center></td>
						<td><center><%= man.main.created_at %></center></td>
						<td><center>
							<%= link_to( "Показать",  :controller => 'manager', :action=>'show', :id => man.id ) %></center>
						</td>
						<td><center>
							<%= link_to( "Редактировать", :controller => 'manager', :action=>'edit',:id => man.id ) %></center>
						</td>
					</tr>

				<% end %>
			</table>
			</center>
		</div>
	</div>
<br/>