<br/>
<br/>

<center><h3>Список менеджеров</h3><br/>
	<div class="container">
		<div class="row">
			<div class="span8">
			<%= link_to "Новый Менеджер", :controller => 'manager', :action => 'new' %>
			<br>
			</div>
		</div>
				<center>
				<table class="table table-bordered table-condensed table-stripped">
					<th>N%</th>
					<th>ФИО:</th>
					<th>Должность:</th>
					<th>Телефон:</th>
					<th>Email:</th>
					<th>Логин:</th>
					<th>Создан:</th>
					<% @manager.each do |man| %>	
						<tr>
							<td><%= man.id %></td>
							<td><%= man.pib %></td>
							<td><%= man.postion %></td>
							<td><%= man.phone %></td>
							<td><%= man.email %></td>
							<td><%= man.main.login %></td>
							<td><%= man.main.created_at %></td>
						</tr>
					<% end %>
				</table>
			</center>
		</div>
	</div>
<br/>