<br/>
<br/>

<center><h3>Менеджеры системы</h3><br/>
	<div class="container">
		<div class="row">
				<div class="pull-left">
					<%= link_to("Создать менеджера",{:controller => 'manager', :action => 'new' }, :class => 'btn  btn-small btn-success offset1') %>
				</div>
		</div>
		<br>
		<div class="row">
			<center>
			<table class="table table-bordered table-condensed table-stripped span10 offset1">
				<th>N%</th>
				<th>ФИО:</th>
				<th>Должность:</th>
				<th>Телефон:</th>
				<th>Email:</th>
				<th>Логин:</th>
				<th>Создан:</th>

				<% @manager.each do |man| %>	
					<tr>
						<td><%= man.id %></td>
						<td><%= man.pib %></td>
						<td><%= man.postion %></td>
						<td><%= man.phone %></td>
						<td><%= man.email %></td>
						<td><%= man.main.login %></td>
						<td><%= man.main.created_at %></td>
						<td>
								<%= link_to( "Показать",  :controller => 'manager', :action=>'show', :id => man.id ) %>
							</td>
							</td>
							<td>
								<%= link_to( "Редактировать", :controller => 'manager', :action=>'edit',:id => man.id ) %>
							</td>
					</tr>

				<% end %>
			</table>
			</center>
		</div>
	</div>
<br/>