<br/>
<center>
	<h3>Создание нового менеджера</h3>
</center>

<div class="span4 offset4">
<%= form_for(:manager, :url => {:action => 'create'}, :html => {:name => 'form1'}) do |f| %>
	<% unless @current_privileges != 1%>
		<h5>
			Менеджер с повышенными привилегиями &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<%= f.check_box(:supermanager) %>
		</h5>
	<% end %>
 	<table>
 		<tr>
			<th class="span2">ФИО:*</th>
			<td><%= f.text_field(:pib) %></td>
		</tr>
		<tr>
			<th>Должность:*</th>
			<td><%= f.text_field(:position) %></td>
		</tr>
		<tr>
			<th>Телефон:*</th>
			<td><%= f.text_field(:phone) %></td>
		</tr>
		<tr>
			<th>Email:*</th>
			<td><%= f.text_field(:email) %></td>
		</tr>
		<%= form_for(:main, :url => {:action => 'create'},:html => {:name => 'form2'}) do |m| %>
			<tr>
				<th>Логин:*</th>
				<td><%= m.text_field(:login) %></td>
			</tr>
			<tr>
				<th>Пароль:*</th>
				<td><%= m.text_field(:password) %></td><br/>
			<tr>
		<% end %>
	</table>
	<div class="span4 offset1">
		* - поля, обязательные для заполнения
		<br>
		<br>
		<%= f.submit :'Создать', :class => "btn btn-primary", :onclick => "return submitform();" %>
	</div>
<% end %>

<script type="text/javascript">
	function submitform()
	{
	  document.forms["form1"].submit();
	}
</script>
</div>