<br/>


<center><h3>Информация о менеджере <i><%= @manager.pib %></i></h3><br/>
<center>
    <br><br>
  <table>
      <tr>
        <th class="span3" align="left">ФИО Сотрудника:</th>
        <td class="input-large uneditable-input"><%= @manager.pib %></td>
      </tr>
      <tr>
        <th class="span3" align="left">Должность:</th>
        <td class="input-large uneditable-input"><%= @manager.position %></td>
      </tr>
      <tr>
        <th align="left">Телефон:</th>
        <td class="input-large uneditable-input"><%= @manager.phone %></td>
      </tr>
      <tr>
        <th align="left">Email:</th>
        <td class="input-large uneditable-input"><%= @manager.email %></td>
      </tr>
  </table>

  <br/>
  <center>
    <%= link_to('Назад',{ :controller => 'admin', :action => 'index'}, :class => 'btn btn-info') %>
  </center>


