<tr>
	<td><%= f.text_field :naim, :style => "padding:0; margin:0; width: 99%; height:20px;"%></td>
	<td><%= f.text_field :codyktved, :style => "padding:0; margin:0; width: 99%; height:20px;"%></td>
	<td><%= f.text_field :nomenkl, :style => "padding:0; margin:0; width: 99%; height:20px;"%></td>
	<td><%= f.text_field :kolvo, :style => "padding:0; margin:0; width: 99%; height:20px;"%></td>
	<td><%= f.text_field :factstoim, :style => "padding:0; margin:0; width: 99%; height:20px;"%></td>
	<td><%= f.text_field :dopinfo, :style => "padding:0; margin:0; width: 99%; height:20px;"%></td>
	<td>

		<center>
			<button  class="btn btn-mini" id="123" data-toggle="modal" data-target="#myModal" style="">+</button>
		</center>

	</td>
	<td  style="width:0px; border-left-style: hidden;">
		<div class="span8">
			<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<h5 id="myModalLabel">
						<center><u>Расчет суммы таможенных платежей для товара</u></center>
					</h5>
				</div>
				<div class="modal-body">
					<div class="row">
						 	<div class="span2"><b>Таможенная пошлина:</b></div><br>
						 	<div class="span1 offset1">Ставка:</div>
							<div class="span1">
								<div class="span1">Сумма:</div>
								<div class="span1"><%= f.text_field :pos_summa,:class=>'input-mini'%></div>
							</div>
							<div class="row">
							 	<div class="span2"><b>Акцизный налог:</b></div><br>
							 	<div class="span1 offset1">Ставка:</div>
							 	<div class="span1"><%= f.text_field :nalog_stavka,:class=>'input-mini'%></div>
							 	<div class="span1">Сумма:</div>
							 	<div class="span1"><%= f.text_field :nalog_summa,:class=>'input-mini'%></div>
							</div>
							<div class="row">
							 	<div class="span4"><b>Для нефтепродуктов (дополнительный сбор):</b></div><br>
							 	<div class="span1 offset1">Ставка:</div>
							 	<div class="span1"><%= f.text_field :neft_stavka,:class=>'input-mini'%></div>
							 	<div class="span1">Сумма:</div>
							 	<div class="span1"><%= f.text_field :neft_summa,:class=>'input-mini'%></div>
							</div>
							<div class="row">
							 	<div class="span3"><b>Налог на добавленную стоимость (НДС):</b></div><br>
							 	<div class="span1 offset1">Ставка:</div>
							 	<div class="span1"><%= f.text_field :nds_stavka,:class=>'input-mini'%></div>
							 	<div class="span1">Сумма:</div>
							 	<div class="span1"><%= f.text_field :nds_summa,:class=>'input-mini'%></div>
							</div>
							<div class="row">
							 	<div class="span3"><b>Сумма таможенных платежей:</b></div><br>
							 	<div class="span1 offset1">ВСЕГО:</div>
							 	<div class="span1"><%= f.text_field :vsego,:class=>'input-small'%></div>
							</div>
							<div class="modal-footer">
								<button class="btn-info" data-dismiss="modal" aria-hidden="true">ОК</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</td>
</tr>

