<tr>
	<td><% @zayavka.naim%></td>
	<td><% @zayavka.codyktved%></td>
	<td><% @zayavka.nomenkl%></td>
	<td><% @zayavka.kolvo%></td>
	<td><% @zayavka.factstoim%></td>
	<td>
		<%= @zayavka.pos_stavka%>,<%= @zayavka.pos_summa%>,<%= @zayavka.nalog_stavka%>,<%= @zayavka.nalog_summa%>,<%= @zayavka.neft_stavka%>,<%= @zayavka.neft_summa%>,<%= @zayavka.nds_stavka%>,<%= @zayavka.nds_summa%>,<%= @zayavka.vsego%>
	</td>
</tr>

