<table class="table table-bordered table-condensed table-stripped span7 offset2">
	<th><center>N%</center></th>
	<th><center>Cтатус:</center></th>
	<th><center>Создана:</center></th>
	<th><center></center></th>
	<% @zayavkas.each do |z| %>	
		<tr>
			<td><center><%= '%05d' % z.usercount %></center></td>
			<td><center><%= @zayavkas.get_status( z.status ) %></center></td>
			<td><center><%= z.created_at %></center></td>
			<td><center>
				<%= link_to( "Показать", :controller => 'zayavka', :action=>'show', :id => z.id ) %>
				</center>
			</td>
			<% if z.status == 2 %>
				<td><center>
					<%= "Редактировать" %>
					</center>
				</td>
			<% else %>
				<td><center>
					<%= link_to( "Редактировать", :controller => 'zayavka', :action=>'edit', :id => z.id ) %>
					</center>
				</td>
			<% end %>
			<% if z.status == 1 then %>
				<td><center>
					<%="Копировать"%>
				</td></center>
			<% elsif z.status == 2 %>
				<td><center>
					<%= link_to "Копировать", :disabled => true, :controller => 'zayavka', :action=>'copy', :id => z.id %>
				</td></center>
			<% else %>
				<td><center>
					<%="Копировать"%>
				</td></center>
			<% end %>
			<!-- <td>
				<center>
					<%#= link_to('Отправить', { :controller => 'zayavka', :action => 'send_xml', format: "xml", :id => z.id}, class: "btn btn-info")%>
				</center>
			</td> -->
		</tr>
	<% end %>
	
</table>

<%= will_paginate @zayavkas, :renderer => BootstrapPagination::Rails %>
	

