<table class="table table-bordered table-condensed table-stripped span7 offset2">
	<th>N%</th>
	<th>Cтатус:</th>
	<th>Создана:</th>
	<% @zayavkas.each do |z| %>	
		<tr>
			<td><%= z.usercount %></td>
			<td><%= @zayavkas.get_status( z.status ) %></td>
			<td><%= z.created_at %></td>
			<td>
				<%= link_to( "Показать",  '#' ) %>
			</td>
			<td>
				<%= link_to( "Редактировать", '#' ) %>
			</td>
		</tr>
	<% end %>
	
</table>