<table class="table table-bordered table-condensed table-stripped span7 offset2">
	<th><center>N%</center></th>
	<th><center>Cтатус:</center></th>
	<th><center>Создана:</center></th>
	<% @zayavkas.each do |z| %>	
		<tr>
			<td><center><%= z.usercount %></center></td>
			<td><center><%= @zayavkas.get_status( z.status ) %></center></td>
			<td><center><%= z.created_at %></center></td>
			<td><center>
				<%= link_to( "Показать", :controller => 'zayavka', :action=>'show', :id => z.id ) %>
				</center>
			</td>
			<td><center>
				<%= link_to( "Редактировать", :controller => 'zayavka', :action=>'edit', :id => z.id ) %>
				</center>
			</td>
		</tr>
	<% end %>
	
</table>