<%= will_paginate @zayavkas, :renderer => BootstrapPagination::Rails %>
<table class="table table-bordered table-condensed table-stripped span7 offset2">
	<th><center>N%</center></th>
	<th><center>Cтатус:</center></th>
	<th><center>Создана:</center></th>
	<th><center></center></th>
	<% @zayavkas.each do |z| %>	
		<tr>
			<td><center><%= '%05d' % z.usercount %></center></td>
			<td><center><%= @zayavkas.get_status( z.status ) %></center></td>
			<td><center><%= z.created_at %></center></td>
			<!-- SHOW->active for all types of status -->
			<td>
				<center>
					<%= link_to( "Показать", :controller => 'zayavka', :action=>'show', :id => z.id ) %>
				</center>
			</td>
			<!-- SAVED->active ONLY for EDIT and DUPLICATE-->
			<% if z.status == 1 %>
				<td>
					<center>
						<%= link_to( "Редактировать", :controller => 'zayavka', :action=>'edit', :id => z.id ) %>
					</center>
				</td>
				<td>
					<center>
						<%= link_to "Копировать", :controller => 'zayavka', :action=>'duplicate', :id => z.id %>
					</center>
				</td>
			<!-- SENT->active ONLY for EDIT and DUPLICATE-->
			<% else %>
				<td>
					<center>
						<%= "Редактировать" %>
					</center>
				</td>
				<td>
					<center>
						<%= link_to "Копировать", :controller => 'zayavka', :action=>'duplicate', :id => z.id %>
					</center>
				</td>
			<% end  %>
		</tr>
	<% end %>
	
</table>


<!-- <td>
				<center>
					<%#= link_to('Отправить', { :controller => 'zayavka', :action => 'send_xml', format: "xml", :id => z.id}, class: "btn btn-info")%>
				</center>
			</td> 
-->
