<br>
<center><h3>Создание новой Заявки</h3></center><br>
  <div class="span12">
  	<%= form_for( @zayavka, :url => {:action => 'create'} ) do |f| %>
    <div class="row">
	 		<div class="span4 offset2"><h4>Завление опросник №<%= '%05d' % @zcount %> от <%= Time.now%> г.</div>
	 		<div class="span3"><h4> к Договору № <%= @user.dognum%></h4></div>
	 		<div class="span2"><h4> от <%=@user.dogdate%>г.</h4></b></div>
	 	</div>
	 	<br>
	 	<div class="row">
	 		<center>(* - поля обязательные для заполнения)</center>
	 		<br/>
	 		<div class="span3 offset1">
	 			Таможенный режим*:
	 			<%= f.select( :tamrez, Custom.find(:all).collect{ |u| [u.name] } ) %>
	 		</div>
 			<div class="span3">
	 			Тип гарантии*:
					<%= f.select( :garantee, Garantee.find(:all).collect{ |u| [u.name] } ) %>
	 		</div>
	 		<div class="span3">
	 			Вид транспорта*:
	 			<%= f.select( :typetran, Transport.find(:all , :order => "name" ).collect{ |u| [u.name] }, :selected => "Авто") %>
	 		</div>
	 	</div>
	 	<div class=row>
		 	<div class="span10 offset1">
 				<div class="span3" style="margin-left:0;">
 					<%= f.label :'Срок действия гарантии (мес):', :style => 'display: none;'%>
 				</div>
				<div class="span3">
				<%= f.text_field :temp_period, :style => 'display: none; width:30px;'%>
				</div>
 			</div>
 		</div>
	 	<div class="row">
	 		<center><h4>1. Отправитель товара</h4></center>
	 	</div>
	 	<br>
	 	<div class="row">
	 		<div class="span3">1.1 Наименование фирмы:</div>
	 		<div class="span6 "><%= f.text_field :field_1_1,:class=>'input-xxlarge'%></div>
	 	</div>
	 	<div class="row">
	 		<div class="span3">1.2 Юридический адрес, телефон, email:</div>
	 		<div class="span6 "><%= f.text_field :field_1_2,:class=>'input-xxlarge' %></div>
	 	</div>
	 	<div class="row">
	 		<div class="span3">1.3 Руководитель, ФИО:</div>
	 		<div class="span6 "><%= f.text_field :field_1_3,:class=>'input-xxlarge' %></div>
	 	</div>
	 	<br>
	 	<div class="row">
	 		<center><h4>2. Информация о товаре</h4></center>
	 	</div>
	 	<br>
	 	<div class="row">
	 		<div class="span2">2.1 Валюта контракта*:</div>
	 		<div class="span6"><%= f.select( :z_currency, Currency.find(:all).collect{ |u| [u.name] }, {}, :style=>'width:100px;') %></div>
	 	</div>
	 	<br>
	 	<div class="row">
	 		<table id="goods" cellpadding='0'  border='1' class="span12">
	 			<tr style="background: grey;">
	 				<th align="center"><b>Наименование товара</b></td>
	 				<th align="center"><b>Код УКТВЭД</b></td>
	 				<th align="center"><b>Номенклатура</b></td>
	 				<th align="center"><b>Кол-во</b></td>
	 				<th style="width=:100px;" align="center"><b>Ед. изм.</b></td>
	 				<th align="center"><b>Фактур. стоимость за ед.</b></td>
	 				<th align="center"><b>Фактур. с-ть всего товара</b></td>
	 				<th align="center"><b>Доп. Информация</b></td>
	 				<th align="center"><b>Данные расчета</b></td>
	 				<th></td>
	 				<td style="width:0px; border-left-style: hidden;"></td>
	 				<td style="width:0px; border-left-style: hidden;"></td>
	 			</tr>
	 			<%= f.fields_for :products do |builder| %>
	 				<tr>
		 				<%= render "product_fields", :f => builder %>
	 				</tr>
	 			<% end %>
	 		</table>
	 		<div class="row">
   			<div class="pull-right">
 					<%= link_to_add_fields "Добавить", f, :products %>

	 			</div>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<center><h4>3. Избранный маршрут транзитного перемещения*</h4></center>
	 	</div>
	 	<br>
	 	<div class="row">
	 		<div class="span2">3.1 Пункт отправления*:</div>
	 		<div class="span3"><%= f.text_field :field_3_1,:class=>'input-large'%></div>

	 		<div class="span2" style="width:200px;">3.2 Таможня отправления*:</div>
	 		<div class="span3"><%= f.text_field :field_3_2,:class=>'input-large' %></div>

	 		<div class="span2">3.3 Пункт назначения*:</div>
	 		<div class="span3"><%= f.text_field :field_3_3,:class=>'input-large' %></div>

	 		<div class="span2" style="width:200px;">3.4 Таможня назначения*:</div>
	 		<div class="span3"><%= f.text_field :field_3_4,:class=>'input-large' %></div>
	 	</div>
	 	<br>

	 	<div class="row">
	 		<center><h4>4. Получатель товара</h4></center>
	 	</div>
	 	<br>

 		<div class="row">
	 		<div class="span3">4.1 Наименование фирмы:</div>
	 		<div class="span4"><%= f.text_field :field_4_1,:class=>'input-xxlarge' %></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">4.2 Юридический адрес, телефон, email:</div>
	 		<div class="span4"><%= f.text_field :field_4_2,:class=>'input-xxlarge' %></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">4.3 Руководитель, Ф.И.О.:</div>
	 		<div class="span4"><%= f.text_field :field_4_3,:class=>'input-xxlarge' %></div>
 		</div>

 		<div class="row">
	 		<center><h4>5. Субъект ВЭД, заключивший внешнеэкономический договор</h4></center>
	 	</div>
	 	<br>

	 	<div class="row">
 			<div class="span3">5.1 Наименование фирмы:</div>
	 		<div class="span4"><%= f.text_field :field_5_1 ,:class=>'input-xxlarge' %></div>
 		</div>

 		<div class="row">
 			<div class="span3">5.2 Юридический адрес, телефон, email:</div>
			<div class="span4"><%= f.text_field :field_5_2 ,:class=>'input-xxlarge' %></div>
 		</div>

 		<div class="row">
 			<div class="span3">5.3 Руководитель, ФИО:</div>
			<div class="span4"><%= f.text_field :field_5_3 ,:class=>'input-xxlarge' %></div>
 		</div>

 		<div class="row">
	 		<div class="span3">5.4 ЕГРПОУ:</div>
	 		<div class="span4"><%= f.text_field :field_5_4 ,:class=>'input-xxlarge' %></div>
 		</div>

 		<div class="row">
		 	<div class="span3">5.5 Код налогоплательщика:</div>
		 	<div class="span4"><%= f.text_field :field_5_5 ,:class=>'input-xxlarge' %></div>
		</div>

	 	<div class="row">
		 	<div class="span3">5.6 Договор внешнеэкономический №:</div>
	 		<div class="span4"><%= f.text_field :field_5_6 , :style => 'width: 350px;' %></div>
	 		<div class="span1"><%= f.text_field :field_5_6_1 , :style => 'width: 130px;' %></div>
 		</div>

 		<div class="row">
	 		<div class="span3">5.7 Счет фактура №:</div>
 			<div class="span4"><%= f.text_field :field_5_7, :style => 'width: 350px;' %></div>
 			<div class="span1"><%= f.text_field :field_5_7_1, :style => 'width: 130px;' %></div>
	 	</div>


	 	<div class="row">
	 		<center><h4>
	 			6. Лицо заключившее договор на предоставление финансовой гарантии*
	 		</h4></center>
	 	</div>
	 	<br>
	 	<div class="row">
 			<div class="span3">6.1 Полное наименование фирмы:
 			</div>
	 			<div class="span6">
	 				<div class="input-xxlarge uneditable-input"><%= @user.cname %>
	 				</div>
	 			</div>
 		</div>
	 	<div class="row">
 			<div class="span3">6.2 Юридический адрес, телефон, email:</div>
 			<div class="span6">
 				<div class="input-xxlarge uneditable-input">
 					<%= @user.uaddr%>, <%= @user.phone%>, <%= @user.email%>
 				</div>
 			</div>
 		</div>
	 	<div class="row">
 			<div class="span3">6.3 Руководитель, Ф.И.О.:</div>
 			<div class="span6">
 				<div class="input-medium uneditable-input">
	 				<%= @user.chef%>
	 			</div>
	 		</div>
	 	</div>
	 	<br>

	 	<div class="row">
	 		<center><h4>7. Экспедиторская организация</h4></center>
	 	</div>
	 	<br>
 		<div class="row">
	 		<div class="span3">7.1 Наименование фирмы:</div>
	 		<div class="span6"><%= f.text_field :field_7_1 ,:class=>'input-xxlarge' %></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">7.2 Юридический адрес, телефон, email:</div>
	 		<div class="span6"><%= f.text_field :field_7_2 ,:class=>'input-xxlarge' %></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">7.3 Руководитель, Ф.И.О.:</div>
	 		<div class="span6"><%= f.text_field :field_7_3 ,:class=>'input-xxlarge' %></div>
 		</div>
 		<div class="row">
	 		<div class="span3">7.4 Код Ж/Д перевозки:</div>
	 		<div class="span6"><%= f.text_field :field_7_4 ,:class=>'input-xxlarge' %></div>
 		</div>
 		<br>

 		<div class="row">
	 		<center><h4>8. Информация о перевозчике и транспортном средстве</h4></center>
	 	</div>
	 	<br>
 		<div class="row">
	 		<div class="span3">8.1 Наименование перевозчика:</div>
	 		<div class="span4"><%= f.text_field :field_8_1 ,:class=>'input-xxlarge'%></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">8.2 Юридический адрес, телефон, email:</div>
	 		<div class="span4 input"><%= f.text_field :field_8_2 ,:class=>'input-xxlarge'%></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">8.3 Руководитель, Ф.И.О.:</div>
	 		<div class="span4 input"><%= f.text_field :field_8_3 ,:class=>'input-xxlarge'%></div>
 		</div>

 		<div class="row">
	 		<div class="span3">8.4 Для ж/д*:</div>
	 		<div class="span1" style="width:140px;">№ вагона:</div>
	 		<div class="span1 input"><%= f.text_field :field_8_4_1 ,:class=>'input-mini'%></div>
	 		<div class="span1" style="width: 120px;"> № контейнера: </div>
	 		<div class="span1 input"><%= f.text_field :field_8_4_2 ,:class=>'input-mini'%></div>
	 	</div>

 		<div class="row">
	 		<div class="span3">8.5 Для авто*:</div>
	 		<div class="span2" style="width: 140px;">Тип, марка, гос.№:</div>
	 		<div class="span3 input"><%= f.text_field :field_8_5 ,:class=>'input-xlarge'%></div>
	  </div>
	  <div class="row">
	 		<div class="span3">8.5.1 ФИО Водителя:</div>
	 		<div class="span4 input"><%= f.text_field :field_8_6,:class=>'input-xxlarge'%></div>
 		</div>

 		<div class="row">
	 		<div class="span3">8.5.2 Паспортные данные:</div>
	 		<div class="span4 input"><%= f.text_field :field_8_7,:class=>'input-xxlarge'%></div>
 		</div>
 		<br>

 		<div class="row">
	 		<center><h4>9. Дополнительная информация</h4></center>
	 	</div>
	 	<br>
	 	<div class="row">
 			<center>
	 			<%= f.text_area :field_9, :size => "30x10" ,:class=>'input-xxlarge'%>
	 		</center>
	 	</div>

	 	<div class="row">
	 		<center><h4>10. Лицо заполнившее заявку</h4></center>
	 	</div>
	 	<br>
 		<div class="row">
	 		<div class="span3">10.1 ФИО:*</div>
	 		<div class="span4"><%= f.text_field :field_10_1 ,:class=>'input-xxlarge'%></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">10.2 Контактный телефон:*</div>
	 		<div class="span4"><%= f.text_field :field_10_2 ,:class=>'input-xxlarge'%></div>
 		</div>
	 	<div class="row">
	 		<div class="span3">10.3 E-mail:*</div>
	 		<div class="span4"><%= f.text_field :field_10_3 ,:class=>'input-xxlarge'%></div>
 		</div>
	 	<br>
		<div class="row">
			<div class="span5 offset6">
				<%= link_to('Назад',{ :controller => 'user', :action => 'index'}, :class => 'btn') %>
				<%= submit_tag "Создать", :name => 'create_button', class: "btn btn-success" %>
			  <%= submit_tag "Отправить", :name => 'send_button', class: "btn btn-info" %>
			</div>
		</div>
<% end %>


