<center><h3>Создание новой Заявки</h3></center><br>
  <div class="container span12">
  	<%= form_for(:zayavka, :url => {:action => 'create'}) do |f| %>
    <div class="row">
	 		<div class="span4">Завление опросник №____ от ______ г.</div>
	 		<div class="span4"> к Договору №_____ </div>
	 		<div class="span4"> от ____ г.</div>
	 	</div>
	 	
	 	<div class="row">	
	 		<div class="span4">
	 			Таможенный режим:
	 			<%= f.select( :tamrez, Custom.find(:all).collect{ |u| [u.name] }) %>
	 		</div>
	 		<div class="span4">
	 			Тип транспорта:
	 			<%= f.select( :typetran, Transport.find(:all).collect{ |u| [u.name] }) %>
	 		</div>
	 		<div class="span4">
	 			Тип гарантии:
	
	 		</div>
	 	</div>

	 	<div class="row">	
	 		<center><h4>1. Отправитель товара</h4></center>
	 	<div>

	 	<div class="row">	
	 		<div class="span2">1.1 Наименование фирмы:</div>
	 		<div class="span4 input"><%= f.text_field(:field_1_1) %><div>
	 		<div>

	 		<div class="span2">1.2 Юридический адрес, телефон, email:</div>
	 		<div class="span4 input"><%= f.text_field(:field_1_2_1) %><div>
	 		<div>


		<div class="row">			
			<%= f.submit "Создать", class: "btn btn-primary"%>
		</div>
		
		<% end %>
	</div>

