<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><img src="img/mini_logo5.png"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Администраторы", :controller => 'admin', :action => 'list' %></li>
              <li><%= link_to "Менеджеры"%></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#hosting">
                  Словари
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
              	<li><%= link_to "Типы транспорта", :controller => 'transports', :action => 'index' %></li>
              	<li><%= link_to "Таможенный режим", :controller => 'customs', :action => 'index' %></li>
              </ul>
              
            </ul>
          </div><!--/.nav-collapse -->

            <ul class="nav pull-right">
             <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#hosting">
                  <i class="icon-user"></i>
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                <u><li><%= link_to "admin"%></li></u>
                <li class="divider"></li>
                <li><%= link_to "Выйти"%></li>
              </ul>
            </ul>      
        </div>
      </div>
    </div>
<center>
	<%= image_tag "logo.png" %>
</center>

<div class="container">
	<div class="row">
		<center><h2>Страница администратора</h2></center><br/>
		<%= link_to "Администраторы", :controller => 'admin', :action => 'list' %><br/>
		<%= link_to "Менеджеры"%>
		<br/>
		<br/>
		<br/>
		<h4>Словари:<br/></h4>
		<%= link_to "Типы транспорта", :controller => 'transports', :action => 'index' %><br/>
		<%= link_to "Таможенный режим", :controller => 'customs', :action => 'index' %><br/>
	</div>
</div>
