<br/>
<br/>

<center><h3>Администраторы системы</h3></center><br/>
	<div class="container">
		<div class="row">
			<div class="pull-left">
					<%= link_to("Создать администратора",{:controller => 'admin', :action => 'new'}, :class => 'btn  btn-small btn-success offset2') %>
			</div>
		</div>
		<br>
		<div class="row">
			<center>
			<table class="table table-bordered table-condensed table-stripped span7 offset2">
				<th>N%</th>
				<th>Email:</th>
				<th>Логин:</th>
				<th>Создан:</th>
				<% @admin.each do |ad| %>	
					<tr>
						<td><%= ad.id %></td>
						<td><%= ad.email %></td>
						<td><%= ad.main.login %></td>
						<td><%= ad.main.created_at %></td>
					</tr>
				<% end %>
			</table>
			</center>
		</div>
	</div>

		
