<br/>
<br/>

<center><h3>Создание нового администратора</h3><br/>

<%= form_for(:admin, :url => {:action => 'create'}) do |f| %>
 	<table\>
		<tr>
			<th>Email:*</th><br/>
			<td><%= f.text_field(:email) %></td><br/>
	</table>
	<br/>
	<%= form_for(:main, :url => {:action => 'create'}) do |f| %>
		<table\>
		<tr>
			<th>Login:*</th><br/>
			<td><%= f.text_field(:login) %></td><br/>
			<th>Pass:*</th><br/>
			<td><%= f.text_field(:password) %></td><br/>
	</table>
	<% end %>
	<div>
		<%= f.submit "Создать", class: "btn btn-primary"%>
	</div>
<% end %>
</center>