<%= form_for(@custom) do |f| %>
  <% if @custom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom.errors.count, "error") %> prohibited this custom from being saved:</h2>

      <ul>
      <% @custom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', customs_path, :class => 'btn btn-info' %>
    <%= f.submit :Изменить, :class => 'btn btn-info'%>
  </div>
<% end %>
