<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><img src="img/mini_logo5.png"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%= link_to "Администраторы", :controller => 'admin', :action => 'list' %></li>
              <li><%= link_to "Менеджеры"%></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#hosting">
                  Словари
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Типы транспорта", :controller => 'transports', :action => 'index' %></li>
                <li><%= link_to "Таможенный режим", :controller => 'customs', :action => 'index' %></li>
              </ul>
              
            </ul>
          </div><!--/.nav-collapse -->

            <ul class="nav pull-right">
             <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#hosting">
                  <i class="icon-user"></i>
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                <u><li><%= link_to "admin"%></li></u>
                <li class="divider"></li>
                <li><%= link_to "Выйти"%></li>
              </ul>
            </ul>      
        </div>
      </div>
    </div>
<center>
  <%= image_tag "logo.png" %>
</center>
<center>
  <h1>Таможенный режим</h1>
</center>


<table class="table table-condensed">
  <tr>
    <th>Наименование  </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customs.each do |custom| %>
  <tr>
    <td><%= custom.name %></td>
    <td><%= link_to 'Show', custom, :class => 'btn btn-success' %></td>
    <td><%= link_to 'Edit', edit_custom_path(custom), :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Destroy', custom, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Custom', new_custom_path, :class => 'btn btn-success' %>
