<br/>
<br/>

<center><h3>Пользователи системы</h3><br/>
	<div class="container">
		<div class="row">
				<div class="pull-left">
					<%= link_to("Создать Пользователя",{:controller => 'user', :action => 'new' }, :class => 'btn  btn-small btn-success offset1') %>
				</div>
		</div>
		<br>
		<div class="row">
			<center>
				<table class="table table-bordered table-condensed table-stripped span10 offset1">
					<th>N%</th>
					<th>ФИО Сотрудника:</th>
					<th>Название компании:</th>
					<th></th>
					<% count = 1  %>

					<% @mains.each do |main| %>	
						<tr>
							<td><%= count %></td>
							<td><%= main.user.pib %></td>
							<td><%= main.user.cname %></td>
							
							<td>
								<%= link_to( "Показать",  :controller => 'user', :action=>'show',:id => main.user.id ) %>
							</td>
							</td>
							<td>
								<%= link_to( "Редактировать", :controller => 'user', :action=>'edit',:id => main.user.id ) %>
							</td>
								
						</tr>
						<% count += 1 %>
					<% end %>
				</table>
			</center>
		</div>
	</div>
<br/>