<br/>
<br/>

<center><h3>Пользователи системы</h3><br/>
	<div class="container">
		<div class="row">
				<div class="pull-left">
					<%= link_to("Создать Пользователя",{:controller => 'user', :action => 'new' }, :class => 'btn  btn-small btn-success offset1') %>
				</div>
		</div>
		<br>
		<div class="row">
			<center>
				<table  cellpadding='0' class="span10 offset1 table table-bordered table-condensed">
					<tr>
						<th><center>N%</center></td>
						<th><center>ФИО Сотрудника</center></td>
						<th><center>Название компании</center></td>
						<th><center>Статус Заявок</center></th>
						<th></th>
					</tr>
					<% count = 1  %>

					<% @mains.each do |main| %>	
						<tr>
							<td><center><%= count %></center></td>
							<td><center><%= main.user.pib %></center></td>
							<td><center><%= main.user.cname %></center></td>
							<td><center><%= link_to( "Просмотр",  :controller => 'manager', :action=>'status',:id => main.user.id ) %></center></td>
							<td><center>
								<%= link_to( "Показать",  :controller => 'user', :action=>'show',:id => main.user.id ) %></center>
							</td>
							<td><center>
								<%= link_to( "Редактировать", :controller => 'user', :action=>'edit',:id => main.user.id ) %></center>
							</td>
							<td>
							<center>
								<%= link_to( "", main, :method => :delete,  :class => "icon-remove", :confirm => "Вы уверены?") %>
							</center>
						</td>
						</tr>
						<% count += 1 %>
					<% end %>
				</table>
			</center>
		</div>
	</div>
<br/>