<br/>
<br/>

<center><h3>Создание нового пользователя</h3><br/>

<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
 	<table\>
		<tr>
			<th>ФИО Сотрудника:*</th><br/>
			<td><%= f.text_field(:pib) %></td><br/>
			<th>Название компании:*</th><br/>
			<td><%= f.text_field(:cname) %></td><br/>
			<th>Должность:*</th><br/>
			<td><%= f.text_field(:uaddr) %></td><br/>
			<th>Телефон:*</th><br/>
			<td><%= f.text_field(:phone) %></td><br/>
			<th>Руководитель:*</th><br/>
			<td><%= f.text_field(:chef) %></td><br/>
			<th>Номер договора:*</th><br/>
			<td><%= f.text_field(:dognum) %></td><br/>
			<th>Код ЕДРПО:*</th><br/>
			<td><%= f.text_field(:edrpo) %></td><br/>
			<th>Код в базе ГД:*</th><br/>
			<td><%= f.text_field(:gdcode) %></td><br/>
			<th>Email:*</th><br/>
			<td><%= f.text_field(:email) %></td><br/>
	</table>
	<br/>
	<%= form_for(:main, :url => {:action => 'create'}) do |f| %>
		<table\>
		<tr>
			<th>Логин:*</th><br/>
			<td><%= f.text_field(:login) %></td><br/>
			<th>Пароль:*</th><br/>
			<td><%= f.text_field(:password) %></td><br/>
	</table>
	<% end %>
	<div>
		<%= f.submit "Создать", class: "btn btn-primary"%>
	</div>
<% end %>
</center>