<br/>

<center><h3>Создание нового пользователя</h3></center>
<div class="span4 offset4">
	<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
	 	<table>
			<tr>
				<th class="span4" align="left">ФИО Сотрудника:*</th>
				<td><%= f.text_field(:pib) %></td>
			</tr>
			<tr>
				<th align="left">Название компании:*</th>
				<td><%= f.text_field(:cname) %></td>
			</tr>
			<tr>
				<th align="left">Юридический адрес:*</th>
				<td><%= f.text_field(:uaddr) %></td>
			</tr>
			<tr>
				<th align="left">Телефон:*</th>
				<td><%= f.text_field(:phone) %></td>
			</tr>
			<tr>
				<th align="left">Руководитель:*</th>
				<td><%= f.text_field(:chef) %></td>
			</tr>
			<tr>
				<th align="left">Номер договора:*</th>
				<td><%=f.text_field :dognum, :class=>'input-small' %> от<%=f.text_field :dogdate, :class=>'input-small'%></td>
			</tr>
			<tr>
				<th align="left">Код ЕДРПО:*</th>
				<td><%= f.text_field(:edrpo) %></td>
			</tr>
			<tr>
				<th align="left">Код в базе ГД:*</th>
				<td><%= f.text_field(:gdcode) %></td>
			</tr>
			<tr>
				<th align="left">Email:*</th>
				<td><%= f.text_field(:email) %></td>
			</tr>	
			<%= form_for(:main, :url => {:action => 'create'}) do |f| %>
				<tr>
					<th align="left">Логин:*</th>
					<td><%= f.text_field(:login) %></td><br/>
				</tr>
				<tr>
					<th align="left">Пароль:*</th>
					<td><%= f.text_field(:password) %></td><br/>
				</tr>
			<% end %>
		</table>
		<br>
		<div class="span4 offset1">
			* - поля, обязательные для заполнения
			<br>
			<br>
			<%= f.submit "Создать", class: "btn btn-primary"%>
		</div>
	<% end %>
</div>
<br>
