<table summary="Page detail view">
    <tr>
      <th>ФИО: </th>
      <td><%= @user.pib %></td><br>
      <th>Название компании: </th>
      <td><%= @user.cname %></td><br>
      <th>Юридический адрес: </th>
      <td><%= @user.uaddr %></td><br>
      <th>Телефон: </th>
      <td><%= @user.phone %></td><br>
      <th>Руководитель: </th>
      <td><%= @user.chef %></td><br>
      <th>Номер договора: </th>
      <td><%= @user.dognum %></td><br>
      <th>Код ЕДРПО: </th>
      <td><%= @user.edrpo %></td><br>
     	<th>Код в базе ГД: </th>
      <td><%= @user.gdcode %></td><br>
    </tr>
</table>