<br/>

<center><h3>Информация о пользователе <i><%= @user.pib %></i></h3><br/>
<%= form_for( :user, :url => {:controller => 'user', :action => 'update', :id => @user.id }) do |f| %>
<center>
  <table>
      <tr>
        <th class="span3" align="left">ФИО Сотрудника:</th>
        <td class="input-large uneditable-input"><%= @user.pib %></td>
      </tr>
      <tr>
        <th align="left">Название компании:</th>
        <td class="input-large uneditable-input"><%= @user.cname %></td>
      </tr>
      <tr>
        <th align="left">Юридический адрес:</th>
        <td class="input-large uneditable-input"><%= @user.uaddr %></td>
      </tr>
      <tr>
        <th align="left">Телефон:</th>
        <td class="input-large uneditable-input"><%= @user.phone %></td>
      </tr>
      <tr>
        <th align="left">Руководитель:</th>
        <td class="input-large uneditable-input"><%= @user.chef %></td>
      </tr>
      <tr>
        <th align="left">Номер договора:</th>
        <td class="input-large uneditable-input"><%= @user.dognum%> от <%=@user.dogdate %></td>
      </tr>
      <tr>
        <th align="left">Код ЕДРПО:</th>
        <td class="input-large uneditable-input"><%= @user.edrpo %></td>
      </tr>
      <tr>
        <th align="left">Код в базе ГД:</th>
        <td class="input-large uneditable-input"><%= @user.gdcode %></td>
      </tr>
      <tr>
        <th align="left">Email:</th>
        <td class="input-large uneditable-input"><%= @user.email %></td>
      </tr> 
      
  </table>

  <br/>

  <div>
      <%= link_to('Назад',{ :controller => 'manager', :action => 'index'}, :class => 'btn btn-info') %>
  </div>
</center>

<% end %>
</div>

