<!DOCTYPE html>
<html>
<head>
	<title>ADMIN PAGE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/admin/"><i class="icon-home"></i></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Администраторы", :controller => 'admin', :action => 'list' %></li>
              <li><%= link_to "Менеджеры"%></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#hosting">
                  Словари
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
              	<li><%= link_to "Типы транспорта", :controller => 'transports', :action => 'index' %></li>
              	<li><%= link_to "Таможенный режим", :controller => 'customs', :action => 'index' %></li>
              </ul>
              
            </ul>
          </div><!--/.nav-collapse -->

            <ul class="nav pull-right">
             <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#hosting">
                  <i class="icon-user"></i>
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                <u><li><%= link_to "admin"%></li></u>
                <li class="divider"></li>
                <li><%= link_to "Выйти"%></li>
              </ul>
            </ul>      
        </div>
      </div>
    </div>
<center>
	<%= image_tag "logo.png" %>
</center>
	<%= yield %>
</body>
</html>
