<!DOCTYPE html>
<html>
<head>
	<title>ADMIN PAGE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/admin/"><i class="icon-home"></i></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Администраторы", :controller => 'admin', :action => 'list' %></li>
              <li><%= link_to "Менеджеры", :controller => 'manager', :action => 'list' %></li>
              <li><%= link_to "Сменить Email", :controller => 'chmails', :action => 'index' %></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Словари
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
              	<li><%= link_to "Типы транспорта", :controller => 'transports', :action => 'index' %></li>
                <li><%= link_to "Таможенный режим", :controller => 'customs', :action => 'index' %></li>
                <li><%= link_to "Тип гарантии", :controller => 'garantees', :action => 'index' %></li>
              	<li><%= link_to "Валюта", :controller => 'currencies', :action => 'index' %></li>
              </ul>
              
            </ul>
          </div><!--/.nav-collapse -->

            <ul class="nav pull-right">
             <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#hosting">
                  <i class="icon-user"></i>
                  <u><%=session[:login]%></u>
                  <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Выйти", :controller => 'main', :action => 'logout'%></li>
              </ul>
            </ul>      
        </div>
      </div>
  </div>
<center>
	<%= image_tag "logo.png" %>
</center>
  <% if !flash[:notice].blank? %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
	<%= yield %>
</body>
</html>
